<!DOCTYPE html>
<html lang="pt-br">

<!--aqui na página 02 têm as mesmas configurações do homepage (index.html), mas acrescentei um botão de "início" para voltar ao início, e tem todo o conteúdo da página-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

    <title>Biblioteca Xirley</title>
</head>

<header>
    <div class="imagem" id="logo"> </div>
    
    <h3>
        <a class="inicio" id="inicio" href="/">Início</a>
        |
        <a class="acervo" id="acervo" href="/acervo">Acervo</a>
        |
        <a class="sobre" id="sobre" href="/sobre">Sobre</a>
    <h3>
</header>


<body>
    
    <h1 class="título2">
        
    </h1>

        <p class="texto">
            A palavra inovação está cada vez mais inclusa no dia a dia da população. Você assiste na TV, lê notícias sobre, ouve do seu chefe comentários a respeito do assunto. Enfim, a inovação está na ponta da língua de todo mundo! Mas será que essas pessoas realmente sabem do que se trata a inovação?
        </p>
                <br>
        <p class="texto">
            Aliás, você sabe o que é inovação? Partindo da resposta a essa pergunta, o texto a seguir traz um conteúdo novo dentro desse tema tão falado. Se você continuar lendo, vai entender o conceito de inovação, bem como os seus principais tipos. Vamos lá!
        </p>
                <br>
        <p class="texto">
            Com frequência nos deparamos com este tipo de questionamento, que apesar de parecer simples, costuma gerar longos debates. Talvez você nem imagine, mas existe uma quantidade extensa, a respeito da definição de inovação, o que em nada contribui para desmitificar o assunto. Algumas dessas definições são:
        </p>
                <br>
            <ul class="lista">
                <li>
                    "Exige identificar os problemas que importam e passar sistematicamente por eles para oferecer soluções elegantes" – Larry Keeley, em seu livro “Dez tipos de inovações” 
                </li>
                    <br>
                <li>
                    "Novos produtos, serviços, experiências e campanhas que estão resolvendo pontos de tensão e criando novos níveis de expectativa para os clientes." – Henry Mason, em seu livro “Trend-Driven Innovation"
                </li>
                    <br>
                <li>
                    "Inovação é a gestão de todas as atividades envolvidas no processo de geração de ideias, desenvolvimento de tecnologia, produção e marketing de um novo (ou melhorado), produto, processo ou equipamento de produção." – Paul Trott, no livro “Innovation Management and New Product Development.
                </li>
            </ul>
                <br>
        <p class="texto">
            Apesar de os conceitos apresentados acima serem diferentes, é possível notar que a ideia de inovação está sempre ligada ao desejo de mudar o contexto e o resultado, procurando novos e melhores jeitos de fazer as coisas. Um exemplo de inovação presente nos dias atuais, é o de delivery. Se antes era necessário ligar para determinado estabelecimento e pedir para eles entregarem em casa determinado produto, hoje existem aplicativos como o ifood, que agregam diferentes estabelecimentos e permitem que o usuário possa fazer seus pedidos pelo celular.
        </p>
                <br>
            <h2 class="subtítulo">
                INOVAÇÃO NÃO É INVENÇÃO
            </h2>

                <p class="texto">
                    As origens dos termos inovação e invenção possuem uma definição parecida, que diz respeito sobre alterar algo. No entanto, existe uma diferença primordial entre eles. Enquanto a invenção refere-se à criação de um produto ou introdução de um processo pela primeira vez, a inovação baseia-se na mudança de um item que já foi inventado. Mas calma, essa não é a única diferença entre esses dois conceitos, você sabia que algo só é considerado inovador quando ele traz retorno financeiro para as organizações? Pois é, a inovação não se trata apenas da criação de um produto, ela precisa atender às necessidades e expectativas do mercado, garantindo assim lucro às empresas.
                </p>

                <div class="figura1" id="fig1">

                </div>
                    <br> <br>
            <h2 class="subtítulo">
                TIPOS DE INOVAÇÃO
            </h2>
                <br>
                <div class="figura2" id="fig2">
                   
                </div>
                <p class="figtext">
                    De acordo com o Manual de Oslo, a inovação pode ser dividida em quatro tipos:
                </p>
                    <br>
                <p class="figtext">
                    <strong>
                        Inovação de produto:
                    </strong>
                        mudanças dos produtos/serviços que uma empresa oferece;
                </p>
                    <br>
                <p class="figtext">
                    <strong>
                        Inovação de processo:
                    </strong>
                        mudanças na forma em que os produtos/serviços são criados e entregues;
                </p>
                    <br>
                <p class="figtext">
                    <strong>
                        Inovação em marketing: 
                    </strong>
                        é a implantação de novas estratégias ou conceitos de marketing que diferem substancialmente daqueles utilizados anteriormente pela empresa, ou seja, quando ocorrem mudanças significativas na concepção do produto, em sua embalagem, posicionamento, promoção ou na fixação de preço;
                </p>
                    <br>
                <p class="figtext">
                    <strong>
                        Inovação organizacional:
                    </strong>    
                        mudanças que ocorrem na estrutura gerencial da empresa, na forma de articulação entre as suas diferentes áreas, na especialização dos trabalhadores, no relacionamento com os fornecedores e clientes e nas múltiplas técnicas de organização dos processos de negócios.
                </p>
                    <br> <br>
    <h4>
        <small>
            <ul class="referencias">
                <li>
                    GUILHERME. Inovação e invenção: você sabe a diferença. 2019. Disponível em: https://www.espressoapp.com.br/blog/diferenca-entre-inovacao-e invenção/. Acesso em: 24 nov. 2021.
                </li>
                        <br>
                <li>
                    RONARA. Afinal, inovação e invenção são a mesma coisa? 2018. Disponível em: https://www1.sfiec.org.br/fiec-noticias/118105/blog-do-senai-afinal-inovacao-e-invencao-sao-a-mesma-coisa. Acesso em: 24 nov. 2021.
                </li>
                        <br>
                <li>
                    OCDE – Organização para Cooperação e Desenvolvimento Econômico. Manual de Oslo. 3. ed. 2005. Tradução oficial realizada pela FINEP/Brasil, baseada na versão original da OECD. 2005. Disponível em: http://www.mct.gov.br/upd_blob/0005/5068.pdf. Acesso em: 25 nov. 2021.
                </li>
                        <br>
                <li>
                    ARTHUR. O que é inovação? 2021. Disponível em: https://g4educacao.com/portal/o-que-e-inovacao/. Acesso em: 25 nov. 2021.
                </li>
            </ul>
        </small>
    </h4>

    <footer class="rodape">
        Todos os direitos reservados. 2021
    </footer>
</body>
</html>