<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

    <title>Biblioteca Xirley</title>
</head>

<header>
    <div class="imagem" id="logo"> </div>
    
    <h3>
        <a class="inicio" id="inicio" href="/">Início</a>
        |
        <a class="acervo" id="acervo" href="/acervo">Acervo</a>
        |
        <a class="sobre" id="sobre" href="/sobre">Sobre</a>
    <h3>
</header>

<body>
    <h1 class="título">
        TÓPICO: COMO INOVAR?
    </h1>
        <p class="texto">
            Em um mundo de constantes mudanças e evoluções, as organizações estão conscientes que precisam se adaptar rapidamente as novas demandas do mercado. Mas como elas podem continuar competitivas quando tudo está mudando constantemente? Quais são as formas mais eficazes de enfrentar a forte concorrência? Como podem continuar agradando e retendo clientes? A resposta está na capacidade das empresas de conseguirem inovar. Mas, isto nem sempre acaba sendo uma tarefa fácil, uma vez que existem vários obstáculos ao longo do caminho. Continue acompanhando a leitura a seguir e saiba os principais motivos que levam as empresas a não inovarem, bem como às ações que estas devem seguir, para conseguirem trilhar o caminho da inovação.
        </p>

            <h2 class="subtítulo">
                POR QUE ALGUMAS EMPRESAS NÃO CONSEGUEM INOVAR?
            </h2>

                <p class="texto">
                    Mas se a inovação se faz tão importante, porque as empresas não conseguem inovar? Baseado nessa pergunta, apresentaremos a seguir, 5 fatores que contribuem para a déficit de mudanças.
                </p>
                    <br><br>
                    <ol class="lista">
                        <li>
                            <strong>
                                Recursos inadequados
                            </strong>
                        </li>
                            <br>
                            <p class="texto">
                                Direcionar investimentos para inovação geralmente significa tirar dinheiro de programas, atividades e produtos já consolidados e com resultados visíveis. Existe ainda a dificuldade de conseguir este aporte no momento certo, já que as empresas, em geral, trabalham com ciclos de orçamento anuais e, portanto, não têm flexibilidade para fazer mudanças em curso para se adequar às novas demandas e oportunidades do mercado.
                            </p>
                                <br>
                        <li>
                            <strong>
                                Aversão ao risco
                            </strong>
                        </li>
                            <br>
                            <p class="texto">
                                A verdade é que nenhum progresso é conquistado sem que se assume riscos calculados. E inovar certamente envolve situações de risco que muitas empresas não estão preparadas para encarar e, por isso, preferem evitá-las antes mesmo de fazerem qualquer consideração. Ter uma visão clara e embasada dos riscos atrelada a uma análise aprofundada dos benefícios pode ajudar a criar um ambiente de fomento à inovação. “Mas, para isso, é importante que a empresa tenha ferramentas e direcionamento adequado, o que a ajudaria a minimizar perdas e impulsionar resultados”, afirma o IoT Advisor da iotrix, Adolfo Brandão.
                            </p>
                            <br>
                        <li>
                            <strong>
                                Cultura
                            </strong>
                        </li>
                            <br>
                            <p class="texto">
                                Fatores culturais enraizados em processos, profissionais e gestores são difíceis de serem revertidos. Geralmente as regras e diretrizes estabelecidas pelas organizações são respeitadas e dificilmente contestadas, mesmo que muitos acreditem que o modelo antigo já esteja ultrapassado.
                            </p>
                            <br>
                        <li>
                            <strong>
                                Tempo
                            </strong>
                        </li>
                            <br>
                            <p class="texto">
                                Essa é uma commoditie escassa e, por isso, preciosa. Uma das funções da gerência é verificar se as horas estão sendo gastas de forma produtiva. Porém, quando se trata de inovação, muitas vezes é difícil para os gestores provarem que os investimentos em educação dos profissionais e experimentações estão compensando os custos. E é bem possível que o retorno não apareça rápido suficiente para ser medido no tempo estipulado pela empresa para apresentação de resultados junto a investidores.
                            </p>
                            <br>
                        <li>
                            <strong>
                                Cálculos Equivocados
                            </strong>
                        </li>
                            <br>
                            <p class="texto">
                                Para muitas empresas, receita, lucro e market share são os únicos indicadores que realmente interessam. Porém, fatores intangíveis como reputação, conhecimento, atratividade de talentos, liderança e outros ativos que oferecem grande contribuição para o real valor de uma empresa são desconsiderados. Muitas inovações são realmente difíceis de serem justificadas por meio do cálculo de Retorno do Investimento (ROI). É preciso que as formas de mensuração sejam expandidas e adequadas a determinados produtos e serviços.
                            </p>
                     </ol>

            <h2 class="subtítulo">
                COMO INOVAR NAS EMPRESAS?
            </h2>

                <p class="texto">
                    Respondendo à pergunta acima o tópico a seguir irá expor estratégias para estimular o surgimento de novas ideias. Vamos apresentar, 4 práticas de inovação, abordada por alguns autores.
                </p>
                    <br><br>
                    <ol class="lista">
                        <li>
                            <strong>
                                As novas regras de P&D
                            </strong>
                        </li>
                                <br>
                            <p class="texto">
                                O autor do livro “As Novas Regras de P&D”, Henry Chesbrough, defende a ideia de que as empresas devem analisar outras empresas para que dessa forma possa estimular novas ideias e, com isso, gerar inovações.
                            </p>
                                <br>
                        <li>
                            <strong>
                                Desempenho, conveniência, preço: Qual o apelo de sua marca?
                            </strong>
                        </li>   
                                <br>
                            <p class="texto">
                                Os autores deste livro “Desempenho, conveniência, preço: Qual o apelo de sua marca”, Scott D. Anthony e Clayton M. Christensen, abordam sobre as empresas que utilizam muitas inovações em seus produtos/serviços e que, pelo alto grau de complexidade, podem não ter todas as suas funcionalidades aproveitadas. As empresas concorrentes podem aproveitar dessa situação e desenvolver produtos/serviços de baixa complexidade, tornando útil para o consumidor, e/ou oferecer os produtos/serviços por um preço mais baixo.
                            </p>
                                <br>
                        <li>
                            <strong>
                                Inovação interna
                            </strong>
                        </li>
                                <br>
                            <p class="texto">
                                A autora do livro “Inovação Interna”, Judith Ross, parte do princípio de que se deve desenvolver a cultura e os processos internos adequados dentro de uma empresa para estimular novas ideias.
                            </p>
                                <br>
                        <li>
                           <strong>
                                O risco é o custo da inovação?
                           </strong> 
                        </li>
                                <br>
                            <p class="texto">
                                Hal Plotkin, autor de livro “O Risco é o custo da inovação”, diz que as empresas devem incentivar os funcionários a desenvolverem ideias inovadoras, mas que têm que estabelecer alguns limites para que essas ideias não se tornem um fracasso.
                            </p>
                    </ol>
                        <br><br>
    <h4>
        <small>
            <ul class="referencias">
                <li>
                    TAKAHASHI, PAULA. Por que as empresas têm tanta dificuldade em inovar?. 2016. Disponível em: http://iotrix.com/pb/2016/07/20/por-que-as-empresas-tem-tanta-dificuldade-em-inovar/. Acesso em: 04 nov. 202
                </li>
                    <br>
                <li>
                    AMARAL, THIAGO. O guia completo da inovação para iniciantes e experts da área de inovação. 2021. Disponível em: https://blog.aaainovacao.com.br/o-que-e-inovacao/. Acesso em: 04 dez. 2021.
                </li>
                    <br>
                <li>
                    THAISA. Livro Implementando a Inovação. 2019. Disponível em: https://www.voitto.com.br/blog/artigo/implementando-a-inovacao. Acesso em: 04 dez.2021.
                </li>
            </ul>
        </small>
    </h4>
                    
    <footer class="rodape">
        Todos os direitos reservados. 2021
    </footer>
</body>
</html>