<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

    <title>Biblioteca Xirley</title>
</head>

<header>
    <div class="imagem" id="logo"> </div>
    
    <h3>
        <a class="inicio" id="inicio" href="/">Início</a>
        |
        <a class="acervo" id="acervo" href="/acervo">Acervo</a>
        |
        <a class="sobre" id="sobre" href="/sobre">Sobre</a>
    <h3>
</header>

<body>
    <h1 class="título">
        TÓPICO: O AMBIENTE AFETA A INOVAÇÃO
    </h1>

        <p class="texto">
            Patrícia trabalha no setor de marketing de uma empresa de cosméticos, no entanto apesar dela estar responsável pelo processo de divulgação da organização, ela não se sente apta para tal responsabilidade, uma vez que a carência de boa infraestrutura, reuniões com os funcionários e a falta de feedback, prejudicam o seu rendimento profissional. <br> <br> Por mais que o enredo apresentado se trate de uma ficção, já passou pela sua cabeça que podem existir em nossa realidade centenas de "Patrícias" espalhadas pelo mundo? <br> <br> Pois é! elas existem sim, e ao longo desse texto vamos explicar como o ambiente vivenciado por essas pessoas afetam as suas práticas de inovação.
        </p>
            <br><br>
            <h2 class="subtítulo">
                O AMBIENTE AFETA A INOVAÇÃO?
            </h2>

                <p class="texto">
                    O clima organizacional é composto de variáveis físicas e psicológicas. Isso significa dizer que as interações humanas, as relações de poder, a cultura da empresa e seu espaço físico interferem diretamente na satisfação do colaborador, e por consequência, na sua capacidade de inovação e produtividade. Por exemplo, organizações com estruturas rígidas são menos propensas a serem inovadoras, pois apresentam ambientes mais formais, complexos e incertos, com divisões rígidas que podem comprometer a flexibilidade e a agilidade necessária para manter a competitividade organizacional.
                </p>
                    <br>
                <p class="texto">
                    Segundo Barbieri (2003) a percepção de um ambiente de inovação está conectada com fatores como: <br> <br> 
                        <ul class="lista">
                            <li>
                                Eficiência percebida com a inovação; nível de incerteza que envolve a inovação;
                            </li>
                                <br>
                            <li>
                                Escassez de recursos; 
                            </li>
                                <br>
                            <li>
                                Padronização de procedimentos;
                            </li>
                                <br>
                            <li>
                                Grau de influência nas decisões; 
                            </li>
                                <br>
                            <li>
                                Expectativa de prêmios e sanções;
                            </li>
                                <br>
                            <li>
                                Liderança de influência nas decisões;
                            </li>
                                <br>
                            <li>
                                Liberdade de expressar as suas dúvidas e aprendizagem encorajada, que consistentemente aparecem no ambiente interno das organizações e obtém sucesso.
                            </li>
                        </ul>
                </p>
                    <br>
                <p class="texto">
                    Sendo assim ao longo do texto, pode-se perceber que criar ambientes propícios à inovação é uma tarefa difícil, pois envolve mais do que estrutura, é necessário um compartilhamento de valores e pressupostos, para sua efetiva realização. Porém, no mercado atual, existem empresas que conseguiram desenvolver ambientes inovadores em sua gestão, entre elas temos a 3M <em>Company</em> e a IBM <em>Corporation</em>, que possuem a cultura de sua organização direcionada à inovação.
                </p>
                    <br><br>
                <p class="texto">
                    A 3M <em>Company</em> disponibiliza aos funcionários 15% do seu tempo para o desenvolvimento de projetos autodirigidos. Encoraja a conversa interdepartamental (formal e informalmente), criando um compartilhamento de informações sobre projetos e tecnologias, com o intuito de estabelecer uma cultura criativa e inovadora. Utiliza-se também de Fóruns, nos quais são debatidas ideias, projetos, problemas, experiências e façanhas. Além disso, oferece prêmios e recompensas não só aos gerentes, mas a todos aqueles que ajudam a criar novas oportunidades. A empresa pretende com isso ser a mais inovadora do mundo (KANTER et al., 1998).
                </p>
                    <br>
                <p class="texto">
                    A IBM <em>Corporation</em> adota a inovação como valor para seus funcionários, e para isso, distanciou a tomada de decisão da matriz, da alta administração corporativa e das cadeias verticais de comando, dando mais autonomia para trabalhos com outros pares, possibilitando tomadas de decisão em níveis mais baixos e maior velocidade na execução de projetos. Para essa empresa, algumas vezes, o melhor que a gerência pode fazer, é se manter afastada, para que o processo criativo possa ser liberado, estimulando ideias e proporcionando um ambiente mais desafiador (KANTER et al., 1998).
                </p>
                    <br>
                <p class="texto">
                    Em virtude desse conceito percebe-se que as formas de estrutura da organização e administração no ambiente interno podem obter um impacto significativo nos resultados da organização. É inegável que a inovação decorre do talento individual e da criatividade. Nesse sentido destaca-se a integração para a inovação em meio a conexão estrutural e a implementação de novas ideias e conceitos, resulta no aperfeiçoamento e na competitividade da empresa.
                </p>
                    <br><br>
            <h2 class="subtítulo">
                CULTURA DE INOVAÇÃO
            </h2>
                <p class="texto">
                    Existem diversas razões pelas quais uma empresa não consegue inovar. Uma delas pode estar relacionada à falta de capacidade da organização em desenvolver valores e práticas de gestão. Porém, vivemos em um cenário na qual essas empresas não podem ficar inertes a pensamentos e estratégias logísticas antigas, já que esses métodos não conseguiriam promover o desenvolvimento de novas ideias em produtos, serviços e processos que atendessem a real necessidade do mercado atual. <br><br> Desta forma, tentando suprir as falhas organizacionais, surge um novo modelo de cultura nas organizações, a cultura de inovação, que está relacionada a aplicações de ações que promovem a criatividade dos colaboradores das mais diversas áreas tenham ideias que fujam do tradicional. Segundo uma pesquisa da IPEA (Instituto de Pesquisa Econômica Aplicada), 86% das empresas acreditam muito no reflexo positivo da cultura de inovação para o destaque dos negócios no futuro.
                </p>
                    <br>
                <p class="texto">
                    Baseado na implementação da cultura de inovação, Brooki Dobni (2008), propôs um modelo de cultura que tem como objetivo um melhor desempenho organizacional. Segundo o autor, a cultura de inovação é a combinação entre a intenção de ser inovador, a infraestrutura que dá suporte à inovação, o conhecimento a orientação dada aos funcionários como suporte aos pensamentos e ações essenciais à geração de inovação e um ambiente que dê suporte à implementação de inovações.
                </p>
                    <br><br>
    <h4>
        <small>
             <ul class="referencias">
                <li>
                    BRUNO-FARIA, Maria de Fátima; FONSECA, Marcus Vinicius de Araujo. Cultura de inovação: conceitos e modelos teóricos. Revista de Administração Contemporânea, v. 18, n. 4, p. 372-396, 2014.
                </li>
                     <br>
                <li>
                    KANTER, R. M.; KAO, J. J.; WIERSEMA, F. D. Inovação: pensamento inovador na 3M, DuPont, GE, Pfizer e Rubbermaid. São Paulo: Negócio, 1998, 194 p.
                </li>
                    <br>
                <li>
                    EQUIPE AEVO. Como o ambiente de trabalho pode estimular a criatividade e a inovação? 2021. Disponível em: https://blog.aevo.com.br/ambiente-de-trabalho-pode-estimular-a-criatividade-e-a-inovacao/. Acesso em: 30 nov. 2021
                </li>
                    <br>
                <li>
                    IPEA. Estudo analisa inovação no sistema de financiamento. 2021. Disponível em: https://www.ipea.gov.br/portal/index.php?option=com_content&view=article&id=38655&catid=4&Itemid=2>. Acesso em: 03 nov. 2021
                </li>
            </ul>
         </small>
    </h4>      

    <footer class="rodape">
        Todos os direitos reservados. 2021
    </footer>
</body>
</html>