<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

    <title>Biblioteca Xirley</title>
</head>

<header>
    <div class="imagem" id="logo"> </div>
    
    <h3>
        <a class="inicio" id="inicio" href="/">Início</a>
        |
        <a class="acervo" id="acervo" href="/acervo">Acervo</a>
        |
        <a class="sobre" id="sobre" href="/sobre">Sobre</a>
    <h3>
</header>

<body>
    <h1 class="título">
        TÓPICO: POR QUE AS PESSOAS E EMPRESAS INOVAM?
    </h1>

        <p class="texto">
            Você provavelmente já deve ter mencionado o famoso ditado popular “Em time que tá ganhando não se mexe”. Mas e se eu te dissesse que esta premissa popular não funciona definitivamente há algum tempo no mundo empresarial. Pois é! a equipe que não pensa em novas estratégias corre o risco de ficar para trás. Quando se trata de inovação, ser bem-sucedido pode ser um empecilho, uma vez que o sucesso pode fazer com que uma empresa fique presa a formas e processos que até podem funcionar no momento presente, mas quem garante que vão ser eficazes depois de algum tempo? Continue lendo o texto a seguir e entenda o porquê das empresas e pessoas precisarem inovar.
        </p>

            <h2 class="subtítulo">
                PARA AS EMPRESAS
            </h2>
                <p class="texto">
                    Não é mistério para ninguém que a inovação deixou de ser apenas um diferencial nas empresas hoje em dia e passou a ser praticamente uma necessidade. Não importa se você acabou de iniciar uma microempresa ou se é dono de uma multinacional, uma organização que não busque inovar não está pensando estrategicamente e com certeza está deixando passar muitas oportunidades, pois somente inovando que essas conseguem se mantém à frente da concorrência e garantir assim a sua sobrevivência no mercado.
                </p>
                    <br>
                <p class="texto">
                    Um exemplo para comprovar a tese de que inovar é importante para que assim uma empresa continue a existir, é o caso da Kodak. Esta empresa possuía um grande mercado que era o de máquinas fotográficas. Investir no ramo fotográfico era algo muito lucrativo e que a empresa teve sucesso por um tempo determinado. Porém com o avanço das tecnologias os usuários passaram a preferir tirar fotos através de smartphones. Como o maior foco da empresa era investir no setor de câmeras fotográficas, ela veio a pedir falência em 2012.
                </p>
                    <br>    
                <p class="texto">
                    Desta forma, diante do exposto, podemos perceber que as empresas mais inovadoras apresentam menor taxa de mortalidade, maior taxa de crescimento da receita e lucro assim como valorização incremental no preço de suas ações. Há uma forte correlação entre desempenho econômico financeiro superior e grau de inovação das empresas.
                </p>
            
            <h2 class="subtítulo">
                PARA AS PESSOAS
            </h2>
                <p class="texto">
                    Em um cenário na qual o mercado de trabalho se encontra, cada vez mais competitivo, é importante que os indivíduos consigam se reinventar constantemente, para que assim dessa forma estes alcance um lugar de destaque na empresa. Afinal de contas, no mundo contemporâneo um profissional inovador é muito valorizado pelas organizações, não basta ter apenas experiência profissional, é necessário que os colaboradores sejam capazes de ir além das tarefas básicas diárias, é preciso promover mudanças que tragam benefícios para a organização em que se trabalha. Sendo assim, um profissional inovador é capaz de antecipar tendências, encontrar soluções para os problemas da empresa e otimizar resultados.
                </p>
                    <br><br>
    <h4>
        <small>
            <ul class="referencias">
                <li>
                    CONSULTORIA, i9. Inovação: Por que a sua empresa precisa inovar.Disponível em: https://i9consultoria.ufsc.br/inovacao-por-que-a-sua-empresa-precisa-inovar/. Acesso em: 05 dez. 2021.
                </li>
                    <br>
                <li>
                    UNYLEYA. Afinal, como ser um profissional inovador?.2020. Disponível em: https://blog.unyleya.edu.br/guia-de-carreiras/afinal-como-ser-um-profissional-inovador/. Acesso em: 05 dez. 2021.
                </li>
            </ul>
        </small>
    </h4>

    <footer class="rodape">
        Todos os direitos reservados. 2021
    </footer>
</body>
</html>