<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

    <title>Biblioteca Xirley</title>
</head>

<header>
    <div class="imagem" id="logo"> </div>
    
    <h3>
        <a class="inicio" id="inicio" href="/">Início</a>
        |
        <a class="acervo" id="acervo" href="/acervo">Acervo</a>
        |
        <a class="sobre" id="sobre" href="/sobre">Sobre</a>
    <h3>
</header>

<body class="inicio">
    <h1 class="título">
        SOBRE A XIRLEY 
    </h1>

        <ul>
            <li class="sobre">
                A plataforma, Xirley Biblioteca Virtual, foi criada com o intuito de ajudar estudantes de diversas áreas a encontrarem respostas sobre o conteúdo de inovação.
            </li>
                <br>
            <li class="sobre">
                Não acreditamos na ideia de que a inovação se permeei apenas na criação de algo grandioso, complexo e com bases tecnológicas. <br> Até porque pensando dessa forma, o espirito inovador não faria parte da realidade da maioria das pessoas, empresas e regiões.
            </li>
                <br>
            <li class="sobre">
                A inovação pode estar em uma mudança simples de atitude, na definição de um novo processo, no aperfeiçoamento de um produto e em tudo aquilo que de alguma forma pode ser melhorado. Porém, por mais que à primeira vista essa definição de inovação possa parecer algo simples, colocar em pratica o ato de inovar pode dificultar a vida de muitas pessoas. <br> Baseado nisso, aqui, em nossa plataforma, você verá como utilizar a inovação para fomentar as suas atividades.
            </li>
                <br>
            <li class="sobre">
                O site que é administrado por uma equipe diversa e multidisciplinar, tem por objetivo reunir e disponibilizar acessos a ferramentas, cases, boas práticas, estudos, podcasts e muito mais. <br> Queremos ser uma fonte de inspiração capaz de ajudar você a tornar as suas ideias em realidade. Afinal, inovar é para você, pode acreditar.
            </li>
                <br>
        </ul>

    <h1 class="título">
        NOSSO TIME
    </h1>
</body>

</html>